.detail-container{
    position: relative;
}

.back-button{
    position: absolute;
    top: 2vh;
    left: 2vw;
    border: none;
    border-radius: 4px;
}

.arrow {
    border: solid black;
    color: black; 
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
}

.form-control{
    border: none !important
}


.amount-col{
    text-align: right;
}

.form-container{
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.form-control{
    margin-bottom: 1vh;
}

.form-control.text-paragraph{
    font-weight: bold;
}
.expense-details-list{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20vh
}

.expense-history.text-paragraph{
    margin-bottom: 1vh;
}

.thead{
    background-color: rgba(228, 227, 227, 0.97);
}
